* {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: space-between;
}

.prueba {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
    line-height: 35px;
    background-color: #529cf1;
    color: white;
    padding: 80px 20px 20px 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.mybutton {
    background-color: #26b758;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    width: 80%;
    text-transform: uppercase;
}

.terms {
    font-size: 8px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 80px;
    justify-content: left;
    align-content: left;
    margin-bottom: 60px;
    border: 1px solid red;  
}

.benefitTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    }

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.copyright {
    text-align: right;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    font-size: 10px;
}

a {
    color: white;
}