<h2 class="subtitle">¿Por qué pasarte a Premium?</h2>
<section class="container">
    <div class="image">
        <img class="benefitImage" src="./assets/images/benefit-1.png" alt="Nota musical" width="80px" height="80px" />
    </div>
    <div class="benefits">
        <h3 class="benefitTitle">Descarga música</h3>
        <p>Llévatela siempre contigo</p>
    </div>
</section>
<section class="container">
    <div class="image">
        <img class="benefitImage" src="./assets/images/benefit-2.png" alt="Icono movil sin anuncios" width="80px"
            height="80px" />
    </div>
    <div class="benefits">
        <h3 class="benefitTitle">Sin anuncios</h3>
        <p>Disfruta de musica sin interrupciones</p>
    </div>
</section>
<section class="container">
    <div class="image">
        <img class="benefitImage" src="./assets/images/benefit-3.png" alt="Corchea" width="80px" height="80px" />
    </div>
    <div class="benefits">
        <h3 class="benefitTitle">Escucha lo que quieras</h3>
        <p>Incluso en el movil</p>
    </div>
</section>
<section class="container">
    <div class="image">
        <img class="benefitImage" src="./assets/images/benefit-4.png" alt="Icono movil next" width="80px" height="80px" />
    </div>
    <div class="benefits">
        <h3 class="benefitTitle">Salta todas las canciones que quieras</h3>
        <p>Simplemente dale a siguiente</p>
    </div>
</section>