.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.copyright {
    text-align: right;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    font-size: 10px;
}

a {
    color: white;
}