.header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu-movil {
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: space-between;
}

.menu-tablet {
    display: none
}

@media screen and (min-width:768px) {
   .menu-movil {
    display: none;
   } 

   .menu-tablet {
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    }

    .menu-tablet-ul {
        display: flex;
    }

    .menu-tablet-ul li {
        margin-left: 8px;
    }

    .menu-tablet-ul a {
        text-decoration: none;
    }

}